.cell {
  text-align: center;
}

.card_link {
  height: 100%;
  text-underline: none;
}

.breadcrumbs_block {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.5ex 1em;
  background: rgba(0, 0, 0, 0.54);
  z-index: 1;
  color: #fff;
}

.breadcrumbs_block a:visited {
  color: #fff;
}

.breadcrumbs_inline {
  padding: 0.5ex 1em;
  color: black;
}

.breadcrumbs_inline a:visited {
  color: black;
}
