.wrapper {
  margin: auto;
  max-width: 962px;
}

.header {
  color: white;
  font-size: xx-large;
  margin: 2ex auto 1ex auto;
  display: block;
  line-height: initial;
  padding: 0 1ex 0 1ex;
}

.bottom {
  background-image: url(../images/light-blue-footer.png);
  height: 133px;
  width: 100%;
  background-size: 100% 100%;
  padding-top: 1em;
  text-align: center;
  font-size: smaller;
  color: white;
}

.main {
  background-color: white;
  width: 100%;
  border: 1px solid #2f4f63;
  border-bottom-width: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 2ex;
  padding: 1em;
  text-align: center;
}

.everything {
  width: 100%;
}

.hamburger {
  font-size: 24px;
}

.home {
  color: rgba(0,0,0,.54);
  font-size: 20px;
}

.icon {
  fill: rgb(245, 245, 245);
}

@import '~react-md/src/scss/react-md';

@include react-md-everything;
